.content-section {
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    background: #FFFFFF;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px 50px;

}

.header__logo-image {
    display: block;
    justify-self: center;
    align-self: center;
    min-width: 148px;
    min-height: 105px;
    padding: 0 10px 1px 9px;
    object-fit: contain;
    object-position: top;
}

.header__menu {
    place-items: start;
    padding: 0 36px 0 0;
}

.header__links-list {
    display: flex;
    gap: 25px;
    margin-right: auto;
    justify-content: left;
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__menu-link {
    white-space: nowrap;
    color: #000000;
}

.header__address {
    display: flex;
    max-width: 420px;
    justify-self: end;
    flex-direction: column;
    font-style: inherit;
    padding: 0 0 0 184px;
    align-items: flex-start;
}

.header__address_item {
    display: block;
    color: #000000;
}

.header__text {
    font-size: 18px;
    line-height: 1.35;
    text-underline-offset: 4px;
}



.cover {
    position: relative;
    background-size: cover;
    background-position: center;
    z-index: -1;
    min-height: 757px;
    padding: 165px 50px 50px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
}

.overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #000000;
    opacity: 60%;
}

.cover__title {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 100px;
    font-weight: 700;
    line-height: 1.15;
    z-index: 0;
    color: #FFFFFF;
    letter-spacing: 30px;
    text-transform: uppercase;
    gap: 20px;
    margin-bottom: 106px;
}

.aligned-text {
    display: block;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.cover__description-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    line-height: 1.27;
    letter-spacing: 90%;
    text-transform: uppercase;
    color: #FFFFFF;
}

.cover__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: auto;
    margin-top: auto;
    word-spacing: 18px;
}

.bet-button {
    background-color: transparent;
    border: 1px solid #FFFFFF;
    padding: 14px 32px;
    line-height: 1;

}

.lots {
    flex-direction: column;
    min-height: 723px;
    margin: 180px 0 120px;
}

.lots__heading {
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0;
    margin: 0 0 27px 40px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-position: center;
    gap: 25px;
    list-style: none;
}

.lots__card-list-item {
    width: 334px;
}

.card {
    position: relative;
    display: flex;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    min-height: 596px;
    padding: 48px 40px;
    z-index: 0;
}

.card_link {
    text-decoration: none;

}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    z-index: 0;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration-line: underline;
}

.card__text {
    z-index: 0;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.lots__look-more-link {
    display: block;
    margin: 30px 0 2px 40px;
    font-size: 20px;
    line-height: 100%;
    font-weight: 400;
    text-underline-offset: 4px;
    letter-spacing: 0;
}

.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    min-height: 595px;
    padding: 35px 0 0 71px;

}

.about__logo {
    background-color: black;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__logo-image {
    width: 141px;
    background-repeat: no-repeat;
}

.about__title {
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0;
    padding: 3px 0 100px ;
}

.about__column {
    display: flex;
    flex-direction: column;
    padding: 98px 24px 0 0;
}

.about__text {
    font-size: 20px;
    line-height: 1.2;
}

.about_text_gap {
    padding: 24px 0 0 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 180px 50px 82px 50px;
}

.footer__menu {
    padding: 1px 0 0 0;
}

.footer__menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    list-style: circle;
    flex-direction: column;
}

.footer__text {
    font-size: 18px;
    line-height: 1.35;
}

.footer__menu-link_active {
    list-style: none;
}

.footer__social-icon {
    width: auto;
    height: 48px;
}

.footer__social-list{
    display: flex;
    gap: 48px;
    justify-self: right;
    list-style: none;
    min-height: 48px;
    padding: 1px 0 0 0;
}

.footer__address {
    display: flex;
    justify-self: end;
    flex-direction: column;
    font-style: inherit;
    text-underline-offset: 4px;
    align-items: flex-start;
}
